h1 {
  color: brown;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
  --dough: #d9c4a3;
  --chocolate-chip: #704214;
  --crust: #c27d45;
}
/*  GLOBAL STYLES*/
body {
    display: grid;
    grid-template-columns : 1fr;
}
/* MEDIA QUERY (medium) */
@media screen and (min-width: 1512px) {
body{
    grid-template-columns : 1fr 1fr;
}
}
/* MEDIA QUERY (large) */
/* MEDIA QUERY (xl) */
